

html { 
  background: url(images/bg.png) no-repeat center center fixed; 
  }

body {
	font-size: 100%;
	text-align: left;
	color: #403226;
	font-family: "Century Gothic", Candara, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	color: #7F644D;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	color: #7F644D;
}

.hero {
	text-align: center;
}

#slogan {
	
	border-style: double solid;
	border-color: #7F644D; 
	text-align: center; 
	font-style: italic; 
}
